header{
    background-color: #2c2c2c;
    height: 70px;
}
.div1{
    background-color: black;
    color: white;
    display: inline-block;
    padding: 80px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}
button{
    width: 180px;
    height: 34px;
    border-radius: 50px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    /* background-color: ; */
}
a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
h1{
    color: #EAE7AF;
    font-weight: bolder;
}
#div2{
    background-color:#2c2c2c ;
    color: white;
    display: inline-block;
    padding: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    float: left;

}
#div3{
    background-color:black ;
    color: white;
    display:inline-block;
    padding: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 1080.5px;
}
span{
    display: block;
}
#div4{
    background-color:#2c2c2c ;
    color: white;
    display: inline-block;
    padding: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    /* float: left; */
    width: 1080.5px;
}
.github{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}